<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{{ contact.name }}</h1>
  </div>
  <div class="panel-body flex-row">
    <div class="media-left media-middle col-3">
      <a href="#">
        <img
          class="img-responsive media-object"
          src="{{ contact.imageUrl }}"
          alt="..."
        />
      </a>
    </div>
    <div class="col-3 media-right">
      <a
        type="button"
        class="btn btn-info"
        routerLink="/contacts/{{ contact.id }}/edit"
        >Edit</a
      >
      <!-- HTML SYNTAX FIX -->
      <button type="button" class="btn btn-danger" (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>
  <div class="panel-footer">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Email:</b> {{ contact.email === " " ? "No" : contact.email }}
      </li>
      <li class="list-group-item">
        <b>Phone:</b> {{ contact.phone === " " ? "No" : contact.phone }}
      </li>
      <li class="list-group-item">
        <b>Has Group Items Assigned:</b>
        {{
          contact.group === null || contact.group === undefined
            ? "No"
            : contact.group.length
        }}
      </li>
    </ul>
  </div>
</div>
