<div class="panel panel-default">
  <div class="panel-body">
    <!-- FORM -->
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!--

      Map each of the input fields in the form to a corresponding property of
      the Contact object.
      1. Add the `name` attribute to each input field in the form.
      2. Add the `ngModel` directive to each input field and assign the
      corresponding property of the Contact object (for example,
      [ngModel]=contact?.name).
      3. Add a local reference (e.g. #name) to the field and assign the ngModel
      for this field. This allows you to reference the value and the state of
      the field in other HTML tags in the form.

      -->

      <!--
        Add a local reference (e.g. #name) to the field and assign the
        ngModel for this field. This allows you to reference the value and the
        state of the field in other HTML tags in the form.
      -->

      <!-- 01 -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            [ngModel]="contact?.name"
            #name="ngModel"
            required
            class="form-control invalid"
            size="120"
            max="120"
          />
        </div>
      </div>

      <!-- 02 -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            [ngModel]="contact?.email"
            #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            class="form-control"
            size="120"
            max="255"
          />
        </div>
        <div *ngIf="!email.valid && email.touched">
          <p class="alert alert-danger" role="alert">
            Enter a valid <strong>Email</strong> address.
          </p>
        </div>
      </div>

      <!-- 03 -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            [ngModel]="contact?.phone"
            #phone="ngModel"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
            class="form-control invalid"
            size="150"
            max="255"
          />
        </div>
        <div *ngIf="!phone.valid && phone.touched">
          <p class="alert alert-danger" role="alert">
            Enter a valid <strong>Phone</strong> number.
          </p>
        </div>
      </div>

      <!-- 04 -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            [ngModel]="contact?.imageUrl"
            #imageUrl
            class="form-control"
            size="150"
            max="255"
          />
        </div>
      </div>

      <!-- 05 -->
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="groupList">Group Contacts:</label>

          <div class="row min-h" id="groupList">
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item
                  class="col-sm-11"
                  [contact]="contact"
                ></cms-contact-item>
                <button
                  type="button"
                  class="btn btn-danger col-sm-2 deleteButton"
                  (click)="onRemoveItem(i)"
                >
                  X
                </button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1">
              Drag contacts in group here
            </span>
          </div>
        </div>
      </div>

      <!-- 06 -->
      <div class="form-group gray-border">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          [ngModel]="contact?.description"
          rows="3"
          class="form-control"
        ></textarea>
      </div>

      <!-- Error Message -->
      <div
        *ngIf="(!name.valid && name.touched) || (!email.valid && email.touched)"
      >
        <p class="alert alert-danger" role="alert">
          The <strong>Name</strong> and <strong>Email</strong> fields are
          required.
        </p>
      </div>

      <!-- BUTTONS -->
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            Save
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>

      <!-- END FORM -->
    </form>
  </div>
</div>
