<!-- NAV BAR -->
<app-header></app-header>

<!-- OLD ROUTING IMPLEMENTATION -->
<!-- <app-header (selectedFeatureEvent)="switchView($event)"></app-header> -->

<hr />

<!-- MAIN CONTENT -->
<div class="container pull-left">
  <div class="row">
    <div class="col-md-12">
      <!-- NEW ROUTING IMPLEMENTATION -->
      <router-outlet></router-outlet>

      <!-- OLD ROUTING IMPLEMENTATION -->
      <!--
        <app-documents *ngIf="selectedFeature === 'documents'"></app-documents>
        <app-message-list *ngIf="selectedFeature === 'message-list'"></app-message-list>
        <app-contacts *ngIf="selectedFeature === 'contacts'"></app-contacts>
      -->
    </div>
  </div>
</div>