<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right" routerLink="new">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <!-- NEW -->
      <app-document-item
        *ngFor="let documentItem of documents"
        [document]="documentItem"
      ></app-document-item>

      <!-- OLD -->
      <!-- <app-document-item
        *ngFor="let documentItem of documents"
        [document]="documentItem"
        (selectedDocument)="onSelectedDocument(documentItem)"
      ></app-document-item> -->
    </div>
  </div>
</div>
