<div class="col-sm-6 panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">
        {{ document.name }}
      </h4>
      <h5 class="title margin-left-right">(ID: {{ document.id }})</h5>
      <div class="row pull-right margin-left-right">
        <a href="#" class="btn btn-primary btn-space-right" (click)="onView()">View ↗</a>
        <a class="btn btn-info btn-space-right" routerLink="edit">Edit</a>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <!-- <label>Description:</label> -->
        <h5>Description:</h5>
        <span class="label-value">
          <!-- display document description here -->
          {{ document.description }}
        </span>
      </div>
      <br />
      <div class="row">
        <!-- <label>URL:</label> -->
        <h5>URL:</h5>
        <span class="label-value">
          <!-- display document URL here -->
          {{ document.url }}
        </span>
      </div>
    </div>
  </div>
</div>
