<div class="row">
  <div class="col-md-5">
    <!--Add tag to load the DocumentListComponent here-->
    <app-document-list
      (selectedDocumentEvent)="selectedDocument = $event"
    ></app-document-list>
  </div>

  <div class="col-md-4">
    <!--Add tag to load the DocumentDetailComponent here-->
    <app-document-detail
      *ngIf="selectedDocument; else infoDocText"
      [document]="selectedDocument"
    ></app-document-detail>
    <ng-template #infoDocText>
      <div class="col-md-5">Please, select a contact.</div>
    </ng-template>
  </div>
</div>
