<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row pad-left-right">
          <span class="title pull-left">Messages</span>
        </div>
      </div>
      <div class="panel-body">
        <!-- ADD ITEMS USING FORM -->
        <!--Add tag to load the MessageEditComponent-->
        <app-message-edit></app-message-edit>
        <!-- <app-message-edit (addMessageEvent)="onAddMessage($event)"></app-message-edit> -->
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <!-- ITEMS LISTED -->
            <!--Add tag to load the MessageItemComponent-->
            <app-message-item
              *ngFor="let messageItem of messages"
              [message]="messageItem"
            ></app-message-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
